<body>
    Hey, NGINX was successfully installed and launched :)
    Host name: {{ansible_hostname}}
    Built using inventory file: /Users/aleksanderradziszewski/Desktop/infoshare/ansible/inventory.yaml
</body>